#lista {
    display: flex;
    flex-direction: column;

}

.quadradoMaior {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 10px;
}